@charset "UTF-8";

/*375 X 700px*/

/*CABECALHO*/

@media (min-width: 375px) and (max-width: 700px) {

    div#title h1{
        font-size: 20px;
    }

    div#title img{
        width: 40px;
        height: 40px;
    }

    

    ul#navigation{
        row-gap: 11px;
    }

    ul#navigation li{
     font-size: 10px;
    
    
 }
  
   header ul#redes_sociais img{
        width: 23px;
        height: 23px;
    }

}

/*CORPO*/


@media (min-width: 375px) and (max-width: 700px) {
   div#conteudo1 h1{
    font-size: 40px;
    line-height: 35px;
   }
   div#conteudo1 ul li{
    font-size: 11px;

    
   }
 
  }

/*---------------------------------------------------------------------------------------------------------------------------*/

  /*310 X 568px*/

/*CABECALHO*/

@media (min-width: 310px) and (max-width: 568px) {

    div#title h1{
        font-size: 15px;
    }

    div#title img{
        width: 40px;
        height: 40px;
    }

    ul#navigation{
        row-gap: 11px;
    }

    ul#navigation li{
     font-size: 10px;
    
 }
 header ul#redes_sociais img{
    width: 23px;
    height: 23px;
}
  
}

/*CORPO*/


@media (min-width: 310px) and (max-width: 568px) {
   div#conteudo1 h1{
    font-size: 30px;
    line-height: 30px;
   }
   div#conteudo1 ul li{
    font-size: 8px;

   }
 
  }

